# Database credentials
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=127.0.0.1
DB_NAME=rtsp_database

# HTTP Server Auth
HTTP_AUTH_USER=admin
HTTP_AUTH_PASS=your_http_password

# Telegram Notification Settings
TELEGRAM_BOT_TOKEN=5dfsdfsdfdsfdsfsdfdsfds
TELEGRAM_CHAT_ID=-10034534543543538
